<!DOCTYPE html>
<html>
  <head>
      <%- include('./../partials/head')%>
  </head>
  <body>

      <%- include('./../partials/header')%>
    <h2><%= user %> you are logged in</h2>
      <main>
        <div class="containerUserlist">
          <ul id='userList'>
              <li class="userTile">
                  <img id="userImage" src="<%= userImage %>" alt="">
                  <div>
                  <p id='username'><%= user %></p>
                  <p id='trackname'><%= trackName %></p>
                  <p id='artistname'><%= artistName %></p>
                  </div>
        </div>
              </li>
          </ul>
          <div id="main" class="allGenres">
              <p class="genre" id="genre"><%= genre %></p>


          </div>
          <div id="serverMessage">
            <p class="genreClick" id="genreClick"></p>
          </div>
    </main>

    <%- include('./../partials/scripts')%>
  </body>
</html>
